/*-----------------Global-----------*/
.container {
  width: 1220px;
}

/*-------------------- Main carousel --------------*/
/*
.carousel-control.left, .carousel-control.right {
  background-image:none !important;
}
*/
.main-carousel .carousel-inner .item img {
  width: 100%;
  height: 100%;
}
.main-carousel .carousel-indicators {
  bottom: 5px;
  left: 10px;
  width: auto;
  padding: 5px 25px 5px 25px;
  margin-left: 0;
}
.main-carousel .carousel-indicators li {
  border-radius: 0;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}
.main-carousel .carousel-indicators .active {
  width: 10px;
  height: 10px;
  background: #39b3d7;
  border-color: #39b3d7;
}
 
.main-carousel .carousel-control {
  position: absolute;
  bottom: 0;
  background: rgb(122, 55, 118);
  color: #fff;
  padding: 4px 10px;
  margin-right: 10px;
  width: 50px;
  height: 35px;
}
.main-carousel .carousel-control :hover {
  padding: 4px;
}
.main-carousel .carousel-control.right {
  left: 90px;
}
.main-carousel .carousel-control.left {
  left: 40px;
}
.main-carousel .carousel-caption {
  top: auto;
  width: auto;
  right: auto;
  bottom: 60px;
  left: 10px;
  padding: 20px;
  background: rgba(0,0,0,0.70);
  text-align: left;
  height: auto;
  max-width: 50%;
}

/*---------------cards-----------------*/
.card-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  width: 370px;
  min-height: 170px;
  background-color: darkslateblue;
  color: #fff;
}
.card-img {
  position: absolute;
  top: 25%;
  left: 11%;
  width: 70px;
  height: 70px;
}
.card-text {
  padding: 40px 30px 0 130px;
  font-size: 12px;
}
.card-text p {
  margin: 0;
  padding: 0;
}
.card-caption {
  font-weight: 700;
  line-height: 22px;
}
.card-last {
  font-weight: 400;
  line-height: 20px;
}

/*------------------ best sellers carousel ------------------*/
.col-item {
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
}
.col-item .photo img {
  margin: 0 auto;
  width: 100%;
}
.col-item .info {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}
.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price {
  /*width: 50%;*/
  float: left;
  margin-top: 5px;
}
.col-item .price h5 {
  line-height: 20px;
  margin: 0;
}
.price-text-color {
  color: #219FD1;
}
.controls {
  margin-top: 20px;
}
[data-slide="prev"] {
  margin-right: 10px;
}








.subscription {
  background-color: blueviolet;
}
.footer-top {
  min-height: 150px;
  background-color: palevioletred;
}
.footer-bottom {
  min-height: 50px;
  background-color: mediumvioletred;
}